.settings-app {
    display: none;
    height: 100%;
    width: 100%;
    background-color:rgb(227, 227, 227);
    border-top: 3vh solid grey;
    overflow: hidden;
}

.settings-app-header {
    position: relative;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.6vh;
    text-align: left;
    padding-top: 2vh;
    padding-bottom: 0.1vh;
    padding-left: 2.3vh;
    padding-right: 8vh;
    color: rgb(29, 29, 29);
    background-color:rgb(227, 227, 227);
    font-weight: 500;
    letter-spacing: 0.15vh;
}

.settings-app-tab-appereance {
    position: absolute;
    top: 8vh;
    height: 100%;
    width: 100%;
}

.settings-app-tab-information {
    position: absolute;
    top: 23.7vh;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 0.9vh;
}

.settings-app-tab {
    position: relative;
    width: 100%;
    border-radius: 0.15rem;
    height: 6vh;
    color: rgb(29, 29, 29);
    background: white;
}

.settings-app-tab:hover {
    background-color: rgb(209, 209, 209);
    transition: .2s ease;
}

.settings-app-tab-header {
    position: absolute;
    top: -2.5vh;
    height: 2.6vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.5vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.17);
    width: 100%;
}

.settings-app-tab-header > p {
    padding-left: 1vh;
}

.settings-tab-icon {
    position: absolute;
    left: 2vh;
    top: 1.5vh;
    font-size: 2.3vh;
}

.settings-tab-icon > img {
    position: absolute;
    width: 5.3vh;
    height: 5.3vh;
    border-radius: 50%;
    box-shadow: 0 0 .5vh 0 rgba(0, 0, 0, 0.05);
    margin-left: -.3vh;
}

.settings-tab-title {
    position: absolute;
    left: 6.2vh;
    top: 1.2vh;
    font-size: 1.3vh;
    font-family: 'SF Pro Display Regular', sans-serif;
}
.settings-tab-title1 {
    position: absolute;
    left: 6.2vh;
    top: 2.2vh;
    font-size: 1.3vh;
    font-family: 'SF Pro Display Regular', sans-serif;
}
.settings-tab-title2 {
    position: absolute;
    left: 8.2vh;
    top: 2.3vh;
    font-size: 1.5vh;
    font-weight: 500;
    letter-spacing: 0.1vh;
    font-family: 'SF Pro Display Regular', sans-serif;
}
.settings-tab-description2 {
    position: absolute;
    left: 8.25vh;
    top: 4vh;
    font-size: 1.2vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    color: rgb(62, 62, 62);
}

.settings-tab-description {
    position: absolute;
    left: 6.2vh;
    top: 3.2vh;
    font-size: 1.2vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    color: rgb(62, 62, 62);
}
/*-------------------------------------------------------------------------------------------------------------------------*/
.settings-background-tab {
    display: block;
    position: absolute;
    border-top: 3vh solid grey;
    top: -100%;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background-color:rgb(227, 227, 227);
}

.settings-profilepicture-tab {
    display: block;
    position: absolute;
    border-top: 3vh solid grey;
    top: -100%;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background-color:rgb(227, 227, 227);
}

.background-options {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 6vh;
}

.background-option {
    position: relative;
    width: 100%;
    border-radius: 0.15rem;
    height: 6vh;
    color: rgb(29, 29, 29);
    background: white;
}

.background-option:hover {
    background-color: rgb(209, 209, 209);
    transition: .2s ease;
}

.background-option-icon {
    position: absolute;
    height: 100%;
    width: 6vh;
    text-align: center;
    line-height: 7vh;
    font-size: 2.3vh;
    color: black;
}

.background-option-title {
    position: absolute;
    left: 6vh;
    top: 1.5vh;
    text-align: center;
    font-size: 1vh;
    color: rgb(29, 29, 29);
    font-size: 1.3vh;
    font-family: 'SF Pro Display Regular', sans-serif;
}

.background-option-description {
    position: absolute;
    left: 6vh;
    top: 3.6vh;
    text-align: center;
    font-size: 1vh;
    color: rgb(62, 62, 62);
    font-size: 1.1vh;
    font-family: 'SF Pro Display Regular', sans-serif;
}

.background-option-current {
    position: absolute;
    right: 3vh;
    top: 2.5vh;
    text-align: center;
    font-size: 1.6vh;
    color: green;
    font-family: 'SF Pro Display Regular', sans-serif;
}

.background-buttons {
    position: absolute;
    bottom: 5vh;
    height: 4vh;
    width: 100%;
    text-align: center;
    margin-left: -0.5vh;
}

.background-button {
    position: relative;
    height: 100%;
    width: 40%;
    border-radius: 1vh;
    text-align: center;
    line-height: 3.7vh;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.5vh;
    transition: .05s;
    margin-left: 1vh;
    letter-spacing: 0.1vh;
    background-color: rgb(122, 122, 122);
}

.background-button:hover {
    background-color: rgb(114, 114, 114);
    transition: .2s ease;
}

.background-button1 {
    position: relative;
    height: 100%;
    width: 40%;
    border-radius: 1vh;
    text-align: center;
    line-height: 3.7vh;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.5vh;
    transition: .05s;
    margin-left: 1vh;
    letter-spacing: 0.1vh;
    background-color: rgb(36, 103, 192);
}

.background-button1:hover {
    background-color: rgb(32, 93, 172);
    transition: .2s ease;
}

.background-custom {
    display: none;
    position: absolute;
    height: 40%;
    width: 80%;
    background-color: rgb(245, 245, 245);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.247);
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -23vh;
    border-radius: 2vh;
    overflow: hidden;
}

.background-custom-title {
    font-family: 'SF Pro Display Regular', sans-serif;
    padding: 2vh;
    font-size: 1.5vh;
    text-align: center;
}

.custom-background-input {
    position: absolute;
    left: 1vh;
    background: none;
    border: none;
    outline: none;
    height: 3.5vh;
    width: 21vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    background: rgb(235, 235, 235);
    border-radius: 2vh;
    text-align: center;
}

.custom-background-input::placeholder {
    text-align: center;
}

.background-custom-buttons {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    height: 3.8vh;
    text-align: center;
}

.custom-background-button {
    position: relative;
    height: 100%;
    width: 40%;
    border-radius: 1vh;
    text-align: center;
    line-height: 3.7vh;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.5vh;
    transition: .05s;
    margin-left: 1vh;
    letter-spacing: 0.1vh;
    background-color: rgb(122, 122, 122);
}

.custom-background-button:hover {
    background-color: rgb(114, 114, 114);
    transition: .2s ease;
}

.custom-background-button1 {
    position: relative;
    height: 100%;
    width: 40%;
    border-radius: 1vh;
    text-align: center;
    line-height: 3.7vh;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.5vh;
    transition: .05s;
    margin-left: 1vh;
    letter-spacing: 0.1vh;
    background-color: rgb(36, 103, 192);
}

.custom-background-button1:hover {
    background-color: rgb(32, 93, 172);
    transition: .2s ease;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.profilepicture-options {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 6vh;
}

.profilepicture-option {
    position: relative;
    width: 100%;
    border-radius: 0.15rem;
    height: 6vh;
    color: rgb(29, 29, 29);
    background: white;
}
.profilepicture-option:hover {
    background-color: rgb(209, 209, 209);
    transition: .2s ease;
}

.profilepicture-option-icon {
    position: absolute;
    height: 100%;
    width: 6vh;
    text-align: center;
    line-height: 7vh;
    font-size: 2.3vh;
    color: black;
}

.profilepicture-option-title {
    position: absolute;
    left: 6vh;
    top: 1.5vh;
    text-align: center;
    font-size: 1vh;
    color: rgb(29, 29, 29);
    font-size: 1.3vh;
    font-family: 'SF Pro Display Regular', sans-serif;
}

.profilepicture-option-description {
    position: absolute;
    left: 6vh;
    top: 3.6vh;
    text-align: center;
    font-size: 1vh;
    color: rgb(62, 62, 62);
    font-size: 1.1vh;
    font-family: 'SF Pro Display Regular', sans-serif;
}

.profilepicture-option-current {
    position: absolute;
    right: 3vh;
    top: 2.5vh;
    text-align: center;
    font-size: 1.6vh;
    color: green;
    font-family: 'SF Pro Display Regular', sans-serif;
}

.profilepicture-buttons {
    position: absolute;
    bottom: 5vh;
    height: 4vh;
    width: 100%;
    text-align: center;
    margin-left: -0.5vh;
}

.profilepicture-button {
    position: relative;
    height: 100%;
    width: 40%;
    border-radius: 1vh;
    text-align: center;
    line-height: 3.7vh;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.5vh;
    transition: .05s;
    margin-left: 1vh;
    letter-spacing: 0.1vh;
    background-color: rgb(122, 122, 122);
}

.profilepicture-button:hover {
    background-color: rgb(114, 114, 114);
    transition: .2s ease;
}

.profilepicture-button2 {
    position: relative;
    height: 100%;
    width: 40%;
    border-radius: 1vh;
    text-align: center;
    line-height: 3.7vh;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.5vh;
    transition: .05s;
    margin-left: 1vh;
    letter-spacing: 0.1vh;
    background-color: rgb(36, 103, 192);
}

.profilepicture-button2:hover {
    background-color: rgb(32, 93, 172);
    transition: .2s ease;
}

.profilepicture-custom {
    display: none;
    position: absolute;
    height: 40%;
    width: 80%;
    background-color: rgb(245, 245, 245);
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.247);
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -23vh;
    border-radius: 2vh;
    overflow: hidden;
}

.profilepicture-custom-title {
    font-family: 'SF Pro Display Regular', sans-serif;
    padding: 2vh;
    font-size: 1.5vh;
    text-align: center;
}

.custom-profilepicture-input {
    position: absolute;
    left: 1vh;
    border: none;
    outline: none;
    height: 3.5vh;
    width: 21vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    border-radius: 2vh;
    text-align: center;
}

.custom-profilepicture-input::placeholder {
    text-align: center;
}

.profilepicture-custom-buttons {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    height: 3.8vh;
    text-align: center;
}

.custom-profilepicture-button {
    position: relative;
    height: 100%;
    width: 40%;
    border-radius: 1vh;
    text-align: center;
    line-height: 3.7vh;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.5vh;
    transition: .05s;
    margin-left: 1vh;
    letter-spacing: 0.1vh;
    background-color: rgb(122, 122, 122);
}

.custom-profilepicture-button:hover {
    background-color: rgb(114, 114, 114);
    transition: .2s ease;
}

.custom-profilepicture-button2 {
    position: relative;
    height: 100%;
    width: 40%;
    border-radius: 1vh;
    text-align: center;
    line-height: 3.7vh;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.5vh;
    transition: .05s;
    margin-left: 1vh;
    letter-spacing: 0.1vh;
    background-color: rgb(36, 103, 192);
}

.custom-profilepicture-button2:hover {
    background-color: rgb(32, 93, 172);
    transition: .2s ease;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    /* display: inline-block; */
    width: 50px;
    height: 24px;
    top: 50%;
    right: 2vh;
    transform: translateY(-50%);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #68c029;
}

input:focus + .slider {
    box-shadow: 0 0 1px #68c029;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}
