.twitter-app {
    display: none;
    height: 100%;
    width: 100%;
    background-color:rgb(227, 227, 227);
    overflow: hidden;
    border-top: 3vh solid #1DA1F2;
}

.twitter-header {
    position: absolute;
    top: 3vh;
    width: 100%;
    height: 5vh;
    border-bottom: .2vh solid rgba(20, 23, 26, 0.37);
}

.twitter-header-tab {
    position: relative;
    float: left;
    width: 33.33%;
    height: 100%;
    text-align: center;
    line-height: 5vh;
    font-size: 1.5vh;
    color: rgb(14, 14, 14);
    transition: .07s;
}

.twitter-header-tab:hover {
    background-color: #AAB8C2;
}

.selected-twitter-header-tab {
    border-bottom: .2vh solid #1DA1F2;
    color: #1DA1F2;
}

.twitter-app-header {
    position: relative;
    padding: 5vh 0 0 1.85vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 2vh;
}

.twitter-home-tab {
    display: block;
    position: absolute;
    height: 83%;
    width: 100%;
    top: 8vh;
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.twitter-home-tab::-webkit-scrollbar {
    width: .7vh;
}

.twitter-home-tab::-webkit-scrollbar-thumb {
    background-color: #1DA1F2;
}

.twitter-home-tab::-webkit-scrollbar-track {
    background-color: transparent;
}

.twitter-mentions-tab {
    display: block;
    position: absolute;
    height: 83%;
    width: 100%;
    top: 8vh;
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.twitter-mentions-tab::-webkit-scrollbar {
    width: .7vh;
}

.twitter-mentions-tab::-webkit-scrollbar-thumb {
    background-color: #1DA1F2;
}

.twitter-mentions-tab::-webkit-scrollbar-track {
    background-color: transparent;
}

.twitter-hashtags-tab {
    display: block;
    position: absolute;
    height: 83%;
    width: 100%;
    top: 8vh;
    overflow: hidden;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.twitter-hashtags-tab::-webkit-scrollbar {
    width: .7vh;
}

.twitter-hashtags-tab::-webkit-scrollbar-thumb {
    background-color: #1DA1F2;
}

.twitter-hashtags-tab::-webkit-scrollbar-track {
    background-color: transparent;
}

.twitter-tweet {
    position: relative;
    height: auto;
    min-height: 7vh;
    width: 98%;
    margin-bottom: 0.2vh;
    background-color: white;
    left: 0.5vh;
    border-radius: 0.1vh;
    color: rgb(29, 29, 29);
    /*border-bottom: 0.2vh solid #c2c2c2;
    border-top: 0.2vh solid #c2c2c2;*/
}

.twitter-tweet-hashtag {
    position: relative;
    height: auto;
    width: 100%;
    border-top: 2px solid rgba(20, 23, 26, 0.37);
    margin-bottom: 2.5vh;
}

.twitter-mentioned-tweet {
    position: relative;
    height: auto;
    width: 100%;
    border-top: 2px solid rgba(20, 23, 26, 0.37);
    margin-bottom: 2.5vh;
}

.twt-img {
    position: absolute;
    left: 1vh;
    height: 100%;
    width: 100%;
}

.twt-img > img {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
}

.tweet-reply {
    position: absolute;
    right: 10px;
    bottom: 0;
    color: rgba(0, 0, 0, 0.8);
    transition: .05 linear;
    z-index: 100;
    pointer-events: all;
}

.tweet-reply:hover i {
    color: rgba(0, 0, 0, 1.0);
}

.tweet-tweeter {
    padding-left: 6vh;
    padding-top: .6vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.1vh;
}

.tweet-tweeter > span {
    position: relative;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.0vh;
    top: -.1vh;
}

.tweet-message {
    margin-top: .3vh;
    padding-left: 6vh;
    top: .5vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.3vh;
    padding-bottom: 1vh;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.twitter-new-tweet {
    position: absolute;
    bottom: 2vh;
    right: 0;
    width: 4.5vh;
    height: 4.5vh;
    background-color: #1DA1F2;
    margin: 2.2vh;
    z-index: 101;
    border-radius: 50%;
    text-align: center;
    transition: .1s;
    border: 0.2vh solid rgb(0, 0, 0);
}

.twitter-new-tweet:hover {
    background-color: rgb(62, 179, 252);
}

.twitter-new-tweet > i {
    line-height: 4vh;
    font-size: 1.8vh;
    transform: rotate(-20deg);
    color: white;
}

.twitter-new-tweet-tab {
    display: none;
    position: absolute;
    display: block;
    top: -100%;
    height: 100%;
    width: 100%;
    background: rgb(227, 227, 227);
    overflow: hidden;
    z-index: 105;
}

.twitter-new-tweet-header {
    position: relative;
    padding: 6vh 0 0 9vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 2vh;
    color: rgb(29, 29, 29);
}

#tweet-new-message {
    position: absolute;
    border: none;
    height: 15vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: rgb(29, 29, 29);
    background: white;
    outline: none;
    resize: none;
    font-family: 'SF Pro Display Regular', sans-serif;
    padding: 0.87vh;
    font-size: 1.4vh;
    top: 12vh;
    width: 22vh;
    border-radius: 0.9vh;
}

#tweet-new-message::-webkit-scrollbar {
    display: none;
}

#tweet-new-message::placeholder {
    font-size: 1.4vh;
    font-family: 'SF Pro Display Regular', sans-serif;
}

#tweet-new-url{
    position: absolute;
    height: 5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: rgb(29, 29, 29);
    background: white;
    border: 0.1vh solid #1da0f200;
    outline: none;
    resize: none;
    font-family: 'SF Pro Display Regular', sans-serif;
    padding: 0.87vh;
    font-size: 1.4vh;
    top: 30vh;
    width: 22vh;
    border-radius: 0.9vh;
}

#tweet-new-url::-webkit-scrollbar {
    display: none;
}

.twitter-new-tweet-buttons {
    position: absolute;
    bottom: 40px;
    width: 100%;
    height: 5vh;
    color: rgb(29, 29, 29);
}

.twitter-new-tweet-button {
    position: relative;
    float: left;
    width: 33%;
    height: 100%;
    text-align: center;
    line-height: 4.5vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.5vh;
    border-top: .3vh solid #6ab04c00;
    transition: .1s;
}

.twitter-new-tweet-button:hover {
    border-top: .3vh solid #1DA1F2;
}

.twitter-no-tweets {
    position: absolute;
    text-align: center;
    top: 4vh;
    width: 100%;
    font-size: 2vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    color: rgb(29, 29, 29);
}

.mentioned-tag {
    color: black;
    padding-bottom: .3vh;
    transition: .2s;
}

.hashtag-tag-text {
    color: black;
    padding-bottom: .3vh;
    transition: .2s;
}

.twitter-hashtag {
    position: relative;
    height: auto;
    min-height: 7vh;
    width: 98%;
    margin-bottom: 0.2vh;
    background-color: white;
    left: 0.5vh;
    border-radius: 0.1vh;
    color: rgb(29, 29, 29);
    /*border-bottom: 0.2vh solid #c2c2c2;
    border-top: 0.2vh solid #c2c2c2;*/
}
.twitter-hashtag-status{
    position: absolute;
    top: .8vh;
    left: 1vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.1vh;
    color: white;
}

.twitter-hashtag-tag {
    position: absolute;
    top: 2.5vh;
    left: 1vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.4vh;
    color: white;
}
.twitter-hashtag-messages {
    position: absolute;
    bottom: .8vh;
    left: 1vh;
    font-family: 'SF Pro Display Regular', sans-serif;
    font-size: 1.1vh;
    color: white;
}
.twitter-hashtags {
    position: absolute;
    display: block;
    width: 100%;
}
.twitter-hashtag-tweets {
    display: none;
    position: absolute;
    top: 0;
    left: 30;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
}

.twitter-hashtag-tweets::-webkit-scrollbar {
    width: .2vh;
}

.twitter-hashtag-tweets::-webkit-scrollbar-thumb {
    background-color: #1DA1F2;
}

.twitter-hashtag-tweets::-webkit-scrollbar-track {
    background-color: transparent;
}