.whatsapp-app {
    display: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.whatsapp-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 9vh;
}
.whatsapp-header-top {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: #1f2c34;
}
.whatsapp-header-footer {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: #1f2c34;
    border-bottom: 0.01vh solid rgba(105, 105, 105, 0);
}
.whatsapp-header-footer > p {
    padding-top: 1.3vh;
    padding-left: 2vh;
    color: white;
    font-family: 'SF Pro Display Light', sans-serif;
    font-size: 1.5vh;
}
#whatsapp-search-chats {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.6vh;
    color: white;
    right: 1vh;
    transition: .1s;
    font-size: 1.5vh;
}
#whatsapp-search-chats:hover {
    color: rgb(182, 182, 182);
}
#whatsapp-search-input {
    display: none;
    position: absolute;
    background: none;
    border: none;
    background: rgba(95, 95, 95, 0.774);
    top: .7vh;
    width: 17vh;
    margin: 0 auto;
    height: 2.5vh;
    border-radius: 0.3vh;
    box-shadow: 0 0 .2vh 0 rgba(0, 0, 0, 0.281);
    border-bottom: 0.1vh solid rgb(9,167,167);
    font-family: 'SF Pro Display Light', sans-serif;
    outline: none;
    text-indent: 1vh;
    z-index: 100;
    color: white;

    right: 5vh;
    top: 0.95vh;
    width: 12vh;
}
#whatsapp-search-input::placeholder {
    color: rgba(206, 206, 206, 0.801);
}

.whatsapp-chats {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 9vh;
    background-color: #182127;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.whatsapp-chats::-webkit-scrollbar {
    position: absolute;
    width: .6vh;
}

.whatsapp-chats::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.whatsapp-chats::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 1vh 0 0 1vh;
}

.whatsapp-chat-unreadmessages {
    display: none;
    position: absolute;
    right: 1vh;
    top: 3.1vh;
    width: 1.8vh;
    height: 1.8vh;
    background-color: #00b09c;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-family: 'SF Pro Display Light', sans-serif;
    font-size: 1vh;
    line-height: 1.9vh;
}

.whatsapp-chat {
    position: relative;
    width: 100%;
    height: 7vh;
    color: white;
    border-bottom: 0.1vh solid #c0c0c0da;
    background-color: #182127;
    transition: all 0.15s ease 0s;
    margin-left: 0.6vh;
    border-bottom: 0.001vh solid rgba(245, 245, 245, 0.308);
    border-top: 0.001vh solid rgba(245, 245, 245, 0.308);
    border-left: 0.5vh solid rgba(0, 0, 0, 0);
    border-right: 0.5vh solid rgba(0, 0, 0, 0);
}
.whatsapp-chat:hover {
    border-bottom: 0.001vh solid rgba(245, 245, 245, 0.308);
    border-top: 0.001vh solid rgba(245, 245, 245, 0.308);
    background-color: #1f2b33;
}
.whatsapp-chat-picture {
    position: absolute;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    top: 1vh;
    left: 1vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whatsapp-openedchat-picture {
    position: absolute;
    height: 3.5vh;
    width: 3.5vh;
    background: gray;
    border-radius: 50%;
    top: .5vh;
    left: 3.8vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whatsapp-chat-name {
    position: absolute;
    top: 1.35vh;
    left: 7.4vh;
    color: white;
    font-weight: 300;
    font-family: 'SF Pro Display Light', sans-serif;
    font-size: 1.5vh;
    letter-spacing: 0.05vh;
}
.whatsapp-chat-lastmessage {
    position: absolute;
    bottom: .2vh;
    left: 7.4vh;
    font-family: 'SF Pro Display Light', sans-serif;
    font-size: 1.1vh;
    color: rgba(202, 202, 202, 0.808);
    max-width: 17vh;
    font-weight: 200;
    letter-spacing: 0.02vh;
}
.whatsapp-chat-lastmessage > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.whatsapp-chat-lastmessagetime {
    position: absolute;
    top: 1.35vh;
    right: 1vh;
    font-family: 'SF Pro Display Light', sans-serif;
    font-size: 1vh;
    color: white;
}

.whatsapp-openedchat {
    display: none;
    position: absolute;
    top: 0;
    left: -30vh;
    height: 100%;
    width: 100%;
    background-image: url('../img/apps/whatsapp-chat.png');
    background-repeat: no-repeat;
    background-size: inherit;
    background-color: #182127;
}

#whatsapp-openedchat-back {
    position: absolute;
    line-height: 5.5vh;
    top: -.4vh;
    left: 1.7vh;
    color: white;
    transition: .1s;
}
#whatsapp-openedchat-back:hover {
    color: rgb(197, 197, 197);
}
.whatsapp-openedchat-name {
    position: absolute;
    line-height: 5.5vh;
    top: -.4vh;
    left: 8.4vh;
    letter-spacing: 0.05vh;
    color: white;
    font-size: 1.5vh;
    font-family: 'SF Pro Display Light', sans-serif;
    font-size: 1.5vh;
    font-weight: 700;
}
.whatsapp-header-openedchat{
    position: absolute;
    top: 0;
    width: 100%;
    height: 9vh;
    background-color: rgba(7, 94, 84, 0);
}
.whatsapp-header-top-openedchat {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: #1f2c34;
}
.whatsapp-header-footer-openedchat {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: #1f2c34;
}
.whatsapp-header-footer-openedchat > p {
    padding-top: 1.3vh;
    padding-left: 2vh;
    color: white;
    font-family: 'SF Pro Display Light', sans-serif;
    font-size: 1.5vh;
}

.whatsapp-extra-buttons {
    display: none;
    position: absolute;
    left: 0vh;
}
.whatsapp-openedchat-input {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 10vh;
}
/*marcador*/
.whatsapp-extra-button {
    background: none;
    border: none;
    background:#1f2c34;
    border: 0.1vh solid #00a6ff;
    color: white;
    width: 8.5vh;
    height: 3.5vh;
    border-radius: 10%;
    font-family: 'SF Pro Display Light', sans-serif;
    font-size: 1.4vh;
    z-index: 100;
    top: -39.3vh;
    left: 1vh;
    float: left;
    position: relative;
    text-align: center;
    transition: .1s linear;
    padding-top: 0.6vh;
}
.whatsapp-extra-button:hover {
    background:#2a3c47;
    border: 0.1vh solid #23b2ff;
}
.whatsapp-extra-button > i {
    line-height: 3.5vh;
    font-size: 1.5vh;
}
#whatsapp-openedchat-message {
    position: absolute;
    border: none;
    background:#3c5564;
    margin: 0px auto;
    height: 3.5vh;
    border-radius: 2vh;
    font-family: 'SF Pro Display Light', sans-serif;
    font-size: 1.4vh;
    outline: none;
    text-indent: 3vh;
    z-index: 100;
    top: 5.70vh;
    left: 0.8vh;
    width: 21.5vh;
    color: rgb(212, 212, 212);
    font-weight: lighter;
    margin-left: 1vh;
    padding-left: 0.4vh;
}

#whatsapp-openedchat-message::placeholder{
color: rgba(255, 255, 255, 0.671);
}

.whatsapp-photoadd {
    background: none;
    border: none;
    background: #00b09b00;
    color: rgb(201, 201, 201);
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 1vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
    z-index: 101;
    margin-top: 6.5vh;
    left: 1.8vh;
    float: left;
    margin-right: 1vh;
    position: relative;
    text-align: center;
    transition: .1s linear;
}

.whatsapp-photoadd:hover {
    color: rgb(156, 156, 156);
}

.marco-input {
    position: absolute;
    background-color: #1f2c34;
    height: 8.7vh;
    font-size: 1.4vh;
    outline: none;
    top: 4.75vh;
    left: -2.8vh;
    width: 38vh;
    margin-left: 1vh;
}

#whatsapp-openedchat-send {
    position: absolute;
    top: 5.70vh;
    right: 1.1vh;
    color: rgb(201, 201, 201);
    text-align: center;
    line-height: 3.5vh;
    font-size: 1.5vh;
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 50%;
    text-indent: -0.4vh;
    transition: all 0.15s ease 0s;
    margin-right: 0.6vh;
    z-index: 100;
}

#whatsapp-openedchat-send:hover {
    color: rgb(156, 156, 156);
}

#whatsapp-openedchat-message-extras {
    position: absolute;
    left: 25.8vh;
    z-index: 100;
    top: -48vh;
    font-size: 1.5vh;
    width: 2.6vh;
    height: 2.6vh;
    text-align: center;
    line-height: 2.5vh;
    border-radius: 50%;
    color: rgb(218, 218, 218);
    transition: all 0.2s ease 0s;
    background: #e0000000;
}
#whatsapp-openedchat-message-extras:hover {
    color: rgb(172, 172, 172);
}

.whatsapp-openedchat-messages {
    position: absolute;
    height: 70%;
    width: 99%;
    top: 10vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.whatsapp-openedchat-messages::-webkit-scrollbar {
    position: absolute;
    width: .3vh;
}
.whatsapp-openedchat-messages::-webkit-scrollbar-thumb {
    border-radius: 1vh 0 0 1vh;
}

.whatsapp-openedchat-message{
    position: relative;
    width: fit-content;
    max-width: 84%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: auto;
    margin-top: 1.4vh;
    padding: .4vh;
    text-indent: .3vh;
    transition: .1s linear;
    font-size: 1.35vh !important;
}
.whatsapp-shared-location:hover {
    opacity: .8;
    transition: .1s linear;
}

/*marcador2*/
.whatsapp-openedchat-message-me {
    background: #dcf8c6;
    margin-right: 1vh;
    border-radius: .5vh 0 .5vh .5vh;
    float: right;
    font-family: 'SF Pro Display Light', sans-serif;
    font-weight: bold;
    font-size: 0.5vh;
    left: -.3vh
}

.whatsapp-openedchat-message-other {
    background: #ffffff;
    margin-left: 1vh;
    border-radius: .5vh 0 .5vh .5vh;
    font-family: 'SF Pro Display Light', sans-serif;
    font-weight: bold;
    font-size: 0.5vh;
    left: .3vh
}
.whatsapp-openedchat-message-time {
    font-size: 1.1vh;
    text-align: right;
    padding-left: 3.7vh;
    margin-top: -.25vh;
    font-family: 'SF Pro Display Light', sans-serif;
    color: gray;
    font-weight: lighter;
}
.unique-chat {
    position: relative;
    width: 100%;
    margin-bottom: 1vh;
    top: 0;
}
.whatsapp-openedchat-date {
    position: sticky;
    top: 0.2vh;
    z-index: 2;
    margin: 0.2vh auto 0.7vh;
    text-align: center;
    background: #2c3e42;
    width: fit-content;
    padding: 0.4vh;
    height: 2vh;
    font-family: 'SF Pro Display Light', sans-serif;
    font-size: 1vh;
    border-radius: 0.4vh;
    text-transform: uppercase;
    color: white;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}

#popup {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.popupclass {
    margin:0px auto;
    margin-top:120px;
    position:relative;
    padding:10px;
    width:820px;
    min-height:250px;
    border-radius:4px;
    box-shadow: 0 2px 5px #666666;
}

.emojionearea.emojionearea-inline {
    height: 34px;
    width: 68%;
    top: 65px;
    left: 40px;
    background-color: #2d383e;
}

.emojionearea.emojionearea-inline>.emojionearea-editor {
    height: 32px;
    min-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 12px;
    right: 24px;
    color: white;
    padding: 6px 0;
}

.emojionearea .emojionearea-button.active + .emojionearea-picker-position-top {
    margin-top: -269px;
    left: -40px;
}

.emojionearea.focused {
    border-color: #245247;
}